*{
   padding: 0px;
   margin: 0px; 
}

body{
    width: 100%;
    height: 100vh;
}

.cont{
    width: 100%;
    height: 100vh;
}

.subcont{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 70px;
    background-color: black;
}

ul{
    width: 100%;
    height: 100%;
    display: flex;
}

li{
    margin-left: 30px;
    padding-top: 20px;
    font-size: 18px;
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    height: 45px;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    width: 100%;
    height: 100%;
}

header{
    height: 100%;
    background-image: url('https://st.depositphotos.com/1695366/1395/v/950/depositphotos_13951186-stock-illustration-cartoon-man-taking-inventory.jpg');
    background-position: center 30%;
}


.sombra{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    display: flex;
    flex-direction: column;
}

.title{
    width: 100%;
    height: 40px;
    margin-top: 5%;
}

h1{
    margin-top: 10%;
    width: 50%;
    text-align: center;
    font-size: 40px;
    margin-left: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.buscador{
    width: 100%;
    height: 100%;
}

form{
    width: 60%;
    height: 90%;
}

input{
    width: 80%;
    height: 10%;
    margin-top: 20%;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid white;
    background: none;
    outline: none;
    font-size: 20px;
    color: white;
    text-align: center;
}


button{
    width: 15%;
    height: 10%;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}

button:hover{
    background-color: brown;
    color: white;
}